In [1]:
import pandas as pd
import numpy as np

In [8]:
df = pd.DataFrame({
        'A': ['foo','foo','foo', 'foo', 'foo', 'bar', 'bar','bar','bar'], 
        'B': ['one','one','two', 'two', 'one','one','two','two', 'one' ], 
        'C': ['small', 'large', 'large', 'small', 'small', 'large', 'small', 'small', 'large'], 
        'D': [1,2,2,3,3,4,5,6,7]
    })
df

     A    B      C  D
0  foo  one  small  1
1  foo  one  large  2
2  foo  two  large  2
3  foo  two  small  3
4  foo  one  small  3
5  bar  one  large  4
6  bar  two  small  5
7  bar  two  small  6
8  bar  one  large  7

In [21]:
table = pd.pivot_table(df, values='D', index=['A','B'], columns='C', aggfunc=np.sum)
table

C        large  small
A   B
bar one   11.0    NaN
    two    NaN   11.0
foo one    2.0    4.0
    two    2.0    3.0

In [13]:
type(table)

pandas.core.frame.DataFrame