In [6]:
import pandas as pd
import numpy as np

In [7]:
df = pd.DataFrame({
        'A': ['foo','foo','foo', 'foo', 'foo', 'bar', 'bar','bar','bar'], 
        'B': ['one','one','two', 'two', 'one','one','two','two', 'one' ], 
        'C': ['small', 'large', 'large', 'small', 'small', 'large', 'small', 'small', 'large'], 
        'D': [1,2,2,3,3,4,5,6,7]
    })
df

     A    B      C  D
0  foo  one  small  1
1  foo  one  large  2
2  foo  two  large  2
3  foo  two  small  3
4  foo  one  small  3
5  bar  one  large  4
6  bar  two  small  5
7  bar  two  small  6
8  bar  one  large  7

In [8]:
table = pd.pivot_table(df, values='D', index=['A','B'], columns='C', aggfunc=np.sum)
table

C        large  small
A   B
bar one   11.0    NaN
    two    NaN   11.0
foo one    2.0    4.0
    two    2.0    3.0

In [9]:
type(table)

pandas.core.frame.DataFrame

# Pivot Table with students dataset

In [30]:
import pandas as pd
students = pd.DataFrame({
  'name' : ["Kate", "John", "Tom", "Mark", "Jessi", "Katie"],
  'gender': ['female', 'male', 'male', 'male', 'female', "female"],
  'country': ['US', 'UK', 'US', 'UK', 'US', 'UK'],
  'age' : [21, 22, 19, 18, 18, 19],
  'score': [10, 0, 5, 2, 4, 7]})

In [31]:
periods = students.age.map(lambda x: "Senior" if x > 20 else "Junior")
pd.pivot_table(students, values='score', index=periods, columns=["country", "gender"], aggfunc=np.mean)

country     UK          US
gender  female male female male
age
Junior     7.0  2.0    4.0  5.0
Senior     NaN  0.0   10.0  NaN